body {
    background: rgb(29, 29, 29);
    -ms-overlow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.jeux_menu {
    display: flex;
    white-space: nowrap;
}

.image_jeux {
    margin: 5px;
    width: 300px;
    height: 300px;
}

.image_jeux:hover {
    animation: infinite color 1.5s;
    padding: 2.5px;
    border-radius: 2.5px;
}

@keyframes color {
    0% {
        border: #45cac8 3.5px solid;
    }
    50% {
        border: #328281 3.5px solid;
    }
    100% {
        border: #45cac8 3.5px solid;
    }
}

.utilisateur_image {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.utilisateur_image:hover {
    padding: 1px;
    animation: infinite color2 1.5s;
}

@keyframes color2 {
    0% {
        border: #45cac8 3px solid;
    }
    50% {
        border: #328281 3px solid;
    }
    100% {
        border: #45cac8 3px solid;
    }
}

.icon_bas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    position: fixed;
}

.icon_bas_image_1 {
    margin: 14px;
    margin-top: 15px;
}

.icon_bas_image_2 {
    margin-left: 13px;
    margin-top: 13px;
}

.icon_bas_image_3 {
    margin: 11px;
    margin-top: 16px;
}

.icon_bas_image_4 {
    margin: 11px;
    margin-top: 12px;
}

.icon_bas_image_5 {
    margin: 14px;
}

.icon_bas_image_6 {
    margin: 15px;
    margin-top: 14px;
}

.icon_bas_div {
    border-radius: 100%;
    background-color: rgb(43, 43, 43);
    width: 80px;
    height: 80px;
    margin: 8px;
}

.icon_bas_div:hover {
    padding: 0.25px;
    animation: infinite color2 1.5s;
}

.autre_bas_image {
    margin-left: 15px;
    margin-top: 4px;
}

#time {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    float: left;
}

.autre_haut_text {
    color :#ffffff;
    font-family: 'Roboto', sans-serif;
}

.autre_haut {
    margin: 5px;
}

.haut {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    position: fixed;
}

.autre_haut_image {
    margin-left: 10px;
}

.jeux_menu {
    margin-left: 60px;
    margin-top: 30px;
    position: relative;
}

.text_bas {
    display: inline;
    color: #ffffff;
    font-family: 'roboto';
    font-size: 30px;
}

.autre_bas {
    position: fixed;
    right: 0px;
    left: 0px;
}

.sourie_bas {
    float: right;
    display: inline;
    margin-right: 25px;
}

.image_sourie_bas {
    margin-right: 11px;
}

hr {
    background-color: #ffffff;
    height: 1px;
    border-radius: 25%;
    margin: 5px;
}